h4 
    != grid.header
table.table(class='table-hover')
        thead
            tr
                each head in grid.headerRow
                    th 
                        != head
        tbody
            each row in grid.rows
                tr
                    each column in row.columns
                        td 
                            if (column.title)
                                a(href='#{column.href || "#"}')&attributes(column.attributes || {}) #{column.title}
                            else
                                != column
                    td
                        each action, index in row.actions
                            if (index > 0)
                                |  | 
                            a(href='#{action.href}')&attributes(action.attributes || {}) #{action.title}
.grid-footer
    != grid.footer